body {
    text-align: center;
    background: linear-gradient(rgb(195, 223, 39),rgb(58, 59, 55));
    min-height: 100vh;
  }
  
  .grid {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    float: left;
    border-style: solid;
    border-radius: 20px;
    background: linear-gradient(rgb(243, 157, 157),rgb(248, 153, 224));
  }
  
  .grid div {
    width: 20px;
    height: 20px;
  }
  
  .content {
    float: left;
    width: 20%;
    padding: 50px;
  }
  
  .snake {
    background-color: #36c731;
    border-radius: 20px;
  }
  
  .apple {
    background-color: rgb(201, 52, 67);
    border-radius: 10px;
  }
  
  .apple2 {
    background-color: rgb(44, 171, 202);
    border-radius: 10px;
  }
  
  button {
    background: rgb(55, 255, 172);
    color: white;
    padding: 10px;
    position: relative;
    font-size: 16px; 
    bottom: -500px;
    left: 500px;
  }
  
  button:hover {
    cursor: pointer;
    background: rgb(151, 42, 194);
  }
  
  .score,
  .live {
    display: block;
    margin: 10px;
    padding: 20px;
    font-size: 26px;
  }
  
  .score {
    color: rgb(219, 43, 43);
  }
  
  .live {
    color: rgb(13, 32, 139);
  }    